@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);



body {
    background-color: #ffffff;
    font-family:'Spoqa Han Sans', sans-serif;
    height: 100%;



}

a {
    cursor: pointer;
    text-decoration:none;
}

.logo {
  font-family:'Hanna', sans-serif;
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: 200;
}


/* Authentication */
.auth {
  margin-top: 50px;
    text-align: center;
}






.auth .card {
    width: 400px;
    margin: 0 auto;
}




.auth .header {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .username {
  margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}
